body {
    scroll-behavior: smooth;
    background: #818a81;
}


body div h3 #titulo{
     color:black;   
}
.register-bg{
    background-image: url("../Images/Imagen_Reserva.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container{
    max-width: 80%;
    padding: 25px 25px;
    margin-top: 50px; 
    font-size: 17px;
}

.nombre{
    bottom: 20px;
}

.display-6{
    margin-top: 5%;
    color: white;
}

.g-3{
    margin-top: 4%;
}
 
@media (max-width: 1200px){
    .register-bg{
        min-height: 80vh;
    }
}

