body {
    background-image: url(../Images/Fondo_VerM.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
}
table tr th{
    color: #000;
}

#iconos td a {
    color: #ffffff;
}
#iconos td a:hover {
    color:#000;
    table{
        max-width: 70%;
        padding: 20px 20px;
        margin-top: 20px;
        font-size: 17px;
        background: rgba(255,255,255,0.3);
        margin-left:210px;
        border-radius: 2px;
    }

    .card-body{
        color:#ffffff;
    }
    .enlace i{
        color:#000;
    }
    .enlace i:activate{
        color:#000;
    }
    .form-group{
        margin-left:1000px;
    }
